@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{box-sizing: border-box;}
body{
    background-color: #ff7878;
    font-family: 'Poppins', sans-serif;
    animation: movement 20s infinite;
    background-image: url('/images/bg-intro-desktop.png');  
    background-size: 100%;
    display: flex;
    justify-content: center;
}

@keyframes movement{    
    0% {background-position: center;}
    25% {background-position: top;}
    50% {background-position: center;}
    75% {background-position: bottom;}
    100% {background-position: center;}
}

main{
    height: 100%;
    display: flex;
    transition: ease all .8s;
}

section{
    width: 49%;
    padding-left: 7%;
    padding-top: 10%;
    color: #fff;
}

aside{
    width: 49%;
    padding-top: 7%;
    display: flex;
    flex-direction: column;
}


.empty{
    font-size: 12px;
    color : rgba(233, 96, 96, 0.883);    
}

article{
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;  
    align-items: center;
    margin-left: 10%;
    margin-top: 6%;
}

h1{
    font-size: 2.8vw;
    width: 90%;
    width: 80%;
    margin-bottom: 0%;
}

article p{
    width: 80%;
    display: flex;    
}

.p_aside{
    border-radius: 10px;
    width: 75%;
    height: 10%;
    color: #fff;
    background-color: #5D54A3;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-size: 1.3vw;
}

form{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 60%;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding-top: 4%;
}

form a{
    text-decoration:none;
}

.entry{
    width: 80%;
    height: 12%;
}

.input{
    width: 100%;
    height: 100%;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;   
    border: solid 1px #DEDEDE;
    padding-left: 6%;
    border-radius: 5px;
}

.entry i{
    visibility: hidden;
}

.entry.succes{
    border: solid 2px #2ecc71;
}

.entry.error{
    border: solid 2px #e74c;
}

.entry.succes i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
    position: relative;
    bottom: 68%;
    left: 93.1%
}

.entry.error i.fa-exclamation-circle{
    color: #e74c;
    visibility: visible;
    position: relative;
    bottom: 68%;
    left: 90%
}

.entry small{
    color: #e74c;
    position: relative;
    top: 10%;
    left: 50%;
    visibility: hidden;
}


.entry.error small{
    visibility: visible;
}

input:focus{
    outline: 2px solid #615C7C;  
}

.btnSend{
    background-color: #37CC8A;
    color: #fff;
    font-size: .9vw;
    border-style: none;
    cursor: pointer;
}

.btnSend:hover{
    animation: border-color 1s;
    animation-timing-function: ease-in;
}

.submit{
    width: 45%;
    height: 11%;
}

.submit:hover{
    transform: scale(1.1);
    transition: .8s;   
    cursor: pointer;
}

@keyframes border-color{
    0%{border-top: 3px solid #ff9d00;}
    25%{border-right: 3px solid #ff1100;}
    50%{border-bottom: 3px solid #ff006a;}
    75%{border-left: 3px solid #cc00ff;}    
}

.agree{
    color: #C4C2CD;
    font-size: .6vw; 
    margin-top: -10;
}

.emptyContainer{
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 5%;
    margin-top: -1%;
    margin-left: 49%;    
}

.emptyContainer p{
    margin: 0px 0px;
}


.fa-check-circle{
    color:rgb(62, 230, 165);
}

.fa-exclamation-circle{
    color:rgb(230, 62, 62);
}

@media screen and (max-width: 800px){
    main{
        flex-direction: column;
        align-items: center;
        width: 375px;
        height: 1000px;
        transition: ease all .8s;
    }
    
    section{
        padding-left: 0%;
        height: 35%;
        width: 100%;
    }
    
    h1{
        text-align: center;
    }

    article p {
        text-align: center;
        width: 100%;
    }

    aside{
        align-items: center;
        height: 80%;
        width: 100%;
        padding-top: 0%;        
    }

    .agree{
        font-size: .9vw;
    }

}

